<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Camera Permission (used for avatar capture) -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Notification Permission (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!--
        Force-remove storage/media permissions injected by image_picker and
        file_picker plugins. The app uses the Android system Photo Picker
        (via ImageSource.gallery) which needs no storage permissions.
        Removing these keeps the app compliant with the Google Play
        Photo and Video Permissions policy.
    -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="remove"/>

    <!-- Unused permissions removed from this manifest -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"
        tools:node="remove"/>
    <application
        android:label="vinkol"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAS2h8J4kAA38184L9TTKywk6Uu6lLb37E"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>